/* css è lo stile della pagina, se si usa il tag body all' suo interno posso decidere l'aspeto degli elementi della mia pagina web 
le regole immesse nel foglio funzionano a cascata : l'ultima regola immessa è quella che ha la priorità; ma se le regole che non vengono ridefinite ereditano secondo le regole del corpo(della pagina web cioe Html)  */
/* per importare da google o altri siti altre risores esterne (in questo caso dei font) bisogna usare il tag @import e specificare l'URL delle risorse
per utilizzarli dobbiamo richiamrli [in questo caso attraverso il tag html perchè vogliamo specificarlo ad ogni elemento della nostra pagina]
in questo caso l'attributo style diventa Style="color:red;" perchè voglio cambiare il colore del font e non di background 
    in questo caso ho usato un valore rgb(Red,green, blue dove in Hex i 3 canali corrispondono a questi tre valori), digitando su internet color picker e ,con un copy e paste, incollando i 3 valori RGB   tra le parentesi dopo la proprietà rgb.
    in questo caso ho aggiunto il colore al titolo tramite un copy and paste dei 6 valori del color picker sotto la nomencaltura HEX (esadecimale).*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* per pre-impostare dei valori che richiamerai spesso invece di rispecificare il valore ogni volta puoi creare delle variabili:after
prima apri una regola  usando il selettore :root che specifica le regole per O G N I elemento del documento,
poi specifichi un nome per la variabile e ne specifichi il valore. Per utilizzarla nelle varei regole si userà var(--nomevariabile).*/
:root {
    --bright: #eff;
    --title: #bbc;
    --dark: #001;
    --grey: rgb(106, 106, 112);
    --green: #0a2;
    --tablebgcolor: #abc;
    --tablecolor: #001;
    --thcolor: #f00;
}

html {
    font-family: 'Comfortaa', sans-serif;
}

body {
    background-color: var(--dark);
    color: var(--bright);


}

/* per settare una sola regola per piu elementi si elencano con la virgola prima delle parentesi graffe */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title);
    font-weight: 700;
}

/* pseudoclassi:
alcuni tag sono dotati di pseudo classi, in parole povere, delgi aspetti che possono prendere per stati diversi;
in questo caso stiamo lavorando sulle pseudo classi del tag anchor: 
- link: quando il link non è stato cliccato
- visited: quando il link è stato visitato
- hover quando il mouse passa sopra*/
a:link {
    color: #f80;
}

a:visited {
    color: #bf0;
}

a:hover {
    color: #f0b;
}

mark {
    background-color: #add;
    color: #112;
}

/*l id è l'identificativo di una tag e si usa solo una volta,si richiama con l'ashtag nel foglio css
    la classe invece sono regole di css che si possono applicare a piu elementi,si richiama con il punto.*/
#intro {
    margin: 1rem;
    padding: 1rem;
    border: 5px solid var(--title);
    border-radius: 10px;
}

.bordo {
    margin: 1rem;
    padding: 1rem;
    border: 5px dotted var(--title);
    border-radius: 10px;
}

.photo{
    text-align: right;
}
.info{
    text-align: center;
    color: #f00;
    

}

.curiosità {
    margin: 0.5;
    padding: 0.5;
    background-color: var(--grey);
    color: var(--dark);
    border-radius: 10px;
}

.curiosità2 {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: var(--grey);  
    color: var(--dark);
    border-radius: 10px;
}

/* Quando voglio fare lo stile di una tabella sul foglio CSS devo dare la classe 
(poiche a differenza dell'id sarà un elemento che richiamero piu volte nel sito) 
al tag table(!!!!!Remember: Don't be Stronzo!!!) sul foglio Html e in seguito richiamare la classe sul foglio CSS la classe (con il punto)
e decidere le prorietà all'interno della tabella trra le parentesi graffe.
le proprietà sono le seguenti:
1) background-color
2)color
3)border-spacing= cell spacing su Html
4)border= stessa cosa su html
5)padding=space padding su html
6)text-align= align su html
7)border-collapse: fa in modo che non si creino doppi bordi, e con la prorietà collapse fara collassare i bordi in un solo bordo della tabella  */
.tabella,th,td {
    background-color: var(--tablebgcolor);
    color: var(--tablecolor);
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 20px;
    text-align: left;
    
}
.th{
    color: var(--thcolor);
}
.th,td{
    padding: 10px;  
}
td{
    color: #001;    
}